<!DOCTYPE html>
<html>
<head>
	<title>Edit Payment</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Edit Payment</legend>
			<table>
				<tr>
					<td>Id</td>
					<td><input type="text" name="pid" value="<%=value[0].id%>" disabled></td>
				</tr>
				<tr>
					<td>Freelancer Name</td>
					<td><input type="text" name="fname" value="<%=value[0].fname %>" ></td>
				</tr>
				<tr>
					<td>Amount</td>
					<td><input type="text" name="amount" value="<%=value[0].amount %>" ></td>
				</tr>
				<tr>
					<td>Date</td>
					<td><input type="datetime-local" name="date" value="<%=value[0].date %>"></td>
				</tr>
				<tr>
					<td><input type="hidden" name="id" value="<%=value[0].id%>"></td>
					<td><input type="submit" name="submit" value="Update"></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>